# Options in config file override command line options
[vpn]
username=joeUser

host=juniper.vpn.host.somewhere

## "url" part of vpn login page: https://<host>/dana-na/auth/<url>/login.cgi
## if not set url=url_default
url=url_default

## you can use password=script:executable to get password from executable
password=nobodyknows

## in case password#2 is required.
## Will prompt user for password if not set.
# password2 = script:stoken

# socks_port=8080

## tncc.jar will not be used if host_checker = 1 (Python tncc is used instead, without periodic checks)
# host_checker=0

## Role selection in case your server requires you to select a role after logging in
# role = VPN_ROLE
